<!-- Homepage Handlebars Template -->

<body>
  <div id="homepage-template">
    <h1 id="homeTitle">Welcome to the Tech Blog!</h1>
    <div id="posts">
      {{#if blogPosts.length}}
      <h2>Latest Blog Posts</h2>
      <ul>
        {{#each blogPosts}}
        <li>
          <div class="deleteBtnContainer">
            <div class="blogPostContainer">
              <p>Title: {{name}}</p>
              <p>Content: {{description}}</p>
              <p>Date Posted: {{user_id}} on {{date_created}}</p>
              <button class="btn btn-danger" id="deleteBtn" onclick="openModal('{{id}}')">DELETE</button>
              <div class="comments">
                <div id="commentHead">Comments</div>
                <ul>
                  {{#each blogPost.comments}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
              <div id="comments">

                <ul>
                  {{#each blogPost.comments}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>

              <form id="comment-form">
                <label id="leaveComment">Leave a comment:</label>
                <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
                <button type="submit">Submit Comment</button>
              </form>
            </div>
        </li>
        {{/each}}
      </ul>
      {{else}}
      <p>No blog posts yet.</p>
      {{/if}}
    </div>
  </div>
  <!--Modal content-->
  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>Are you sure you want to delete this blog post?</p>
      <button onclick="confirmDelete()">Delete</button>
      <button onclick="closeModal()">Cancel</button>
    </div>
  </div>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

  <script src="js/home.js"></script>
</body>

</html>